<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^courses\/view\/([0-9]+)\/(.*)$ /cursos/$1-$2 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
