#success-buy {
  h1 {
    font-size: 32px;
    font-weight: 300;
    color: #C3C3C3;
    margin: 45px 0 60px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;

    &.pedido {
      margin-bottom: 35px;
      span {
        font-size: 25px;
        color: #ECB126;
        font-weight: 600;
      }
    }
  }

  .btn-checkout {
    width: 203px;
    height: 52px;
    line-height: 38px;
    display: block;
    position: relative;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 30px;
    color: #fff;

    i {
      padding-right: 5px;
      color: #fff;
      opacity: 0.7;
    }

    &.boleto {
      background-color: #ECB126;
    }

    &.area-do-aluno {
      background-color: #43A8E9;
    }
  }

  .continue {
    padding: 30px 0;
    color: #6D6D6D;
    font-size: 16px;
    text-decoration: underline;
    display: inline-block;
  }

}
