.table-lms-container{
	.table-title{
		text-align: center;
		border-bottom: 2px solid #ddd;
		padding-bottom: 5px;
	}
}
.table-lms{	
	width: 100%;
	.table-header{
		display: table-header-group;
		text-transform: uppercase;
		font-weight: 700;
		.table-cell{
			border-bottom: 2px solid #ddd;
		}
	}
	.table-body{
		display: table-row-group;
		.table-row{
			.table-cell{
				border-bottom: 1px solid #ddd;

			}
			&:last-child{
				.table-cell{
					border-bottom-width: 0;
				}	
			}
		}
	}
	.table-row{
		display: table-row;
	}
	.table-cell{
		display: table-cell;
		vertical-align: middle;	
		padding: 8px 10px;			
	}
}

@media(max-width: 767px){
	.table-lms-container{
		.table-lms{
			text-align: left;
			.table-header{
				display: none;
			}
			.table-body{
				display: block;
				.table-row{
					display: block;
					&:last-child{
						.table-cell{
							border-bottom-width: 1px;
						}	
					}
				}
				.table-cell{
					display: table;
					width: 100%;					
					> *{
						display: table-cell;
						vertical-align: middle;
						width: 50%;
					}
					.cell-label{
						font-weight: 700;
						padding-right: 10px;						
					}
					.cell-value{
						padding-left: 10px;
					}
				}
			}
		}
	}
}

@media(min-width: 768px){
	.table-lms-container{
		.table-title{
			display: none;
		}
		.table-lms{
			display: table;
			.table-body{
				.table-cell{
					.cell-label{
						display: none;
					}
				}
			}
			.table-cell{
				text-align: center;
			}
		}
	}
}

.table-cart{
	.course-image-cell{
		width: 140px;
		.course-image{
			margin-bottom: 0;
		}
	}
	.course-name{
		color: $orange;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		p {
			margin: 0;
		}
		ul {
			font-size: 12px;
		}
	}
	.remove-button{
		height: 30px;
		line-height: 30px;
		width: 30px;
		background: $orange;
		border-radius: 50%;
		color: #0c80df;
		display: inline-block;
		text-align: center;
		&:hover{
			opacity: .6;
		}
	}
	.price{
		white-space: nowrap;
	}
}

@media(min-width: 768px){
	.table-cart{
		text-align: center;
	}	
}
