$grey-border-color: rgb(238, 238, 238);
$grey-background: #f4f4f4;
$orange: #ffb800;
$box-grey-border-color: #ddd;
$body-font-color: rgb(51, 51, 51);;

@import 'bootstrap.min';
@import 'font-awesome.min';
@import 'table-lms';
@import 'header';
@import 'home';
@import 'footer';
@import 'our-representants';
@import 'our-team';
@import 'course';
@import 'contact';
@import 'signup';
@import 'cart';
@import 'finish-buy';
@import 'success-buy';
@import 'login-page';
@import 'flash-popup';

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.link{cursor: pointer;}

.form-control:focus ~ label, .form-control:valid ~ label{
  color: #42a5f5;
  font-size: 1rem;
  top: -18px;
}

.pagination{margin-left: 1px;}
.pagination > li{display: inline-block; margin-bottom: 2px;}


/*---------------------*/

body{
	font-family: 'Open Sans', sans-serif;
	color: $body-font-color;
}

body.loading{
	*{
		cursor: progress;
	}
}

.page{
	padding-top: 10px;
	padding-bottom: 35px;
}

@media(max-width: 767px){
	.page{
		padding-bottom: 20px;
	}
}

.orange-text{
	color: $orange;
}

.button{
	display: block;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 1px;
	&:hover{
		text-decoration: none;
	}
}

a{	
	&:active,
	&:focus,
	&:hover,
	&.active{
		text-decoration: none;
		color: $orange;
		outline: 0;
	}
}

.section-title{
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 22px;
}

.box-grey{
	background: $grey-background;
	border: 1px solid $box-grey-border-color;
	padding: 25px 15px 15px;	
}

@media(min-width: 768px){
	.box-grey{		
		&.big-box{
			padding: 25px;
		}	
	}
}

form{
	.row-form-element{		
		.form-element{	
			padding-top: 5px;	
			padding-bottom: 5px;	
			> *{
				display: block;
				width: 100%;
			}
			label{
				text-align: left;	
				font-size: 16px;
				.required{
					color: red;
				}
			}
			textarea,input,select{
				padding: 0 8px;
				color: rgb(85, 85, 85);
				border: 1px solid #ccc;
			}
			input,select{				
				height: 34px;
				
			}
			textarea{
				height: 150px;
				resize: none;
				padding:8px;
			}			
		}
	}
}

@media(min-width: 768px){

}

@media(min-width: 992px){

}

.breadcumbs{
	text-align: center;
	list-style: none;
	background: $grey-background;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 20px;	
	border: 1px solid $box-grey-border-color;
	li{		
		a{			
			text-transform: uppercase;		
		}
		.arrow{
			margin: 5px auto;
			font-size: 12px;
			line-height: 11px;
			color: $orange;
			display: block;
		}
	}
}

@media(min-width: 768px){
	.breadcumbs{
		text-align: left;
		li{
			display: inline-block;
			vertical-align: middle;
			.arrow{
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
}

.modal.in{
	.modal-dialog{
		z-index: 1041;
	}
}

#fixed-bag-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: fixed;
  top: 50%;
  margin-top: -9px;
  right: 0;
  z-index: 50; 
  width: 50px;
}